.Timeline {
    width: 100%;
    position: relative;
}
.TimelineLine {
    min-width: 940px;
    width: 100vw;
    height: 20px;
    background: #E2E2E2;
    justify-self: left;
    position: absolute;
    left: 50%;
    margin-left: -50vw;
}
.TimelineLineProgress {
    height: 100%;
    background: #16B0E4;
    background-image: linear-gradient(78deg, rgba(0,255,85,0.40) 40%, rgba(22,176,228,0.40) 99%);
    transition: all 1s ease;
}
.TimelineStartFinishContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: -6px;
}

.StartPoint {
    position: relative;
    z-index: 2;
}
.StartPoint .Image {
    width: 70px;
    height: 70px;
}
.StartPoint .GoalImage {
    position: absolute;
    width: 50px;
    left: 10px;
    bottom: 20px;
    z-index: -1;
}

.FinishPoint {
    position: relative;
    z-index: 3;
    width: 304px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.FinishPoint .Image {
    position: relative;
    max-width: 304px;
    max-height: 250px;
}

.FinishPoint .FinishAmountContainer {
    position: absolute;
    bottom: -66px;
    z-index: 1;
    margin-left: 10px;
    filter: drop-shadow(0 3px 10px rgba(0, 0, 0, .2));
}
.FinishPoint .FinishAmountContainer:after {
    z-index: -1;
    display: block;
    position: inherit;
    content: '';
    width: 80%;
    height: 30px;
    left: 10%;
    top: 10%;
    background: #fff;
}
.FinishPoint .FinishAmount {
    font-family: Kanit;
    font-size: 44px;
    font-weight: bold;
    fill: #000;
    stroke: #fff;
    stroke: url(#gradient);
    stroke-width: 24px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    paint-order: stroke fill;
}
.FinishPoint .AdsLink {
    position: absolute;
    z-index: 2;
    bottom: -64px;
    right: 0;
}

.Cursor {
    position: absolute;
    bottom: 0;
    margin-left: -2px;
    transition: all 1s ease;
}
.Cursor .Icon {
    position: absolute;
    left: -42px;
    bottom: -1px;
}
.Cursor .Inform {
    min-width: 330px;
    position: relative;
    font-size: 18px;
    padding-left: 30px;
    padding-bottom: 140px;
    border-left: 2px solid #16B0E4;
}
.Cursor .Inform .CurrentAmount {
    font-family: Kanit;
    font-size: 32px;
    font-weight: medium;
    margin-bottom: 12px;
}
.Cursor .Inform .CurrentAmount .Percent {
    background-color: #EA0D07;
    color: #fff;
    padding: 2px 12px;
}
.Cursor .Inform .ToTheGoal {
    margin-bottom: 12px;
}
.Cursor .Inform .CurrentResult {
    font-size: 16px;
}

.Cursor .Inform > * {
    position: relative;
    z-index: 4;
}

.Cursor.CursorRight .Inform {
    position: relative;
    left: -360px;
    border-left: none;
    border-right: 2px solid #16B0E4;
    padding-left: 0;
    padding-right: 30px;
}
.Cursor.CursorRight .Icon {
    left: -42px;
}