.AddContribution {
    display: flex;
}
.AddContribution .Button {
    height: 54px;
    padding: 0 32px;
    color: #fff;
    font-family: "PT Sans";
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    position: relative;
    transition: all .2s ease;
    background-color: #16B0E3;
    background: #16B0E3;
    background-image: linear-gradient(238deg, rgba(13,207,171,0.00) 4%, #0DCFAB 100%);
    outline: none;
}
.AddContribution .Button:active {
    box-shadow: inset 0px 6px rgba(0,0,0 .8);
    background-color: #0DCFAB;
    box-shadow: inset 0px 3px 15px rgba(0,0,0, .2);
}
.AddContribution .Form {
    display: flex;
}
.AddContribution .Input {
    display: inline-block;
    position: relative;
    height: 54px;
    margin-right: -4px;
}
.AddContribution .Input:after {
    content: '₽';
    position: absolute;
    width: 30px;
    line-height: 54px;
    right: 6px;
    text-align: center;
    font-family: Kanit;
    font-size: 22px;
    color: #000;
    font-weight: medium;
}
.AddContribution .Input input {
    width: 170px;
    height: 54px;
    box-sizing: border-box;
    padding: 0 30px 0 12px;
    font-size: 22px;
    color: #000;
    font-family: Kanit;
    font-weight: 500;
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    transition: all .5s;
}
.AddContribution.Error {
    animation: shake 0.2s ease-in-out 0s 2;
}
.AddContribution.Error .Input input {
    outline-color: #EA0D07 !important;
    box-shadow: 0 0 0.3em #EA0D07;
}
.AddContribution .Input input:focus {
    outline-color: #16B0E3;
    outline-offset: 0px;
}
.AddContribution .Input input::placeholder {
    color: #E2E2E2;
}
.AddContribution .Input input::-webkit-outer-spin-button,
.AddContribution .Input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@keyframes shake {
    0% { transform: translateX(-7%); }
    25% { transform: translateX(7%); }
    75% { transform: translateX(-7%); }
    100% { transform: translateX(0%); }
  }